<div fxLayout="column">
  <div fxLayout="row" fxFlexAlign="center">
    <div class="crop">
      <img src="../../../assets/image/Driver_photo.png">
    </div>
  </div>
  <div fxLayout="row">
    <div  fxFlexOffset="30" fxFlex="33" class="title">
      Y O U R D &nbsp; D R I V E R
    </div>
  </div>
  <div fxLayout="row">
    <div  fxFlexOffset="30" fxFlex="33" class="name">
      {{Driver_Name}}
    </div>
  </div>
  <div fxLayout="row">
    <div  fxFlexOffset="20" fxFlex="33">
      <hr />
    </div>
  </div>
  <div fxLayout="row">
    <div  fxFlexOffset="30" fxFlex="50" class="introduction">
      {{Introduction}}
    </div>
  </div>
  <div fxLayout="row" fxFlexAlign="center">
    <button mat-button>C O N T A C T &nbsp; D R I V E R</button>
  </div>
</div>
