<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <mat-toolbar id="toolbar" color="transparent">
    <mat-toolbar-row>
      <div class="item item-1" fxFlex="25%" fxLayoutAlign="center">
        <button mat-button routerLink="/TripInfo">Trip Info</button>
      </div>
      <div class="item item-2" fxFlex="25%" fxLayoutAlign="center">
        <button mat-button routerLink="/DriverInfo">Driver Info</button>
      </div>
      <div class="item item-3" fxFlex="25%" fxLayoutAlign="center">
        <button mat-button routerLink="/VehicleInfo">Vehicle Info</button>
      </div>
      <div class="item item-3" fxFlex fxLayoutAlign="center">
        <button mat-button routerLink="/DestinationInfo">Destination Info</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
