<!--The content below is only a placeholder and can be replaced.-->
<div class="container" fxLayout="column">
  <div fxFlexAlign="center">
    <img src="../assets/image/Alto_logo.png">
  </div>
  <app-nav-bar></app-nav-bar>
  <div fxFlexAlign="center" fxFill>
    <router-outlet></router-outlet>
    <!--<ngb-carousel  #myCarousel="ngbCarousel">-->
      <!--<ng-template ngbSlide>-->
        <!--<app-trip-info [today]="today" [destination]="destination"></app-trip-info>-->
      <!--</ng-template>-->
      <!--<ng-template ngbSlide>-->
        <!--<app-driver-info></app-driver-info>-->
      <!--</ng-template>-->
      <!--<ng-template ngbSlide>-->
        <!--<app-vehicle-info></app-vehicle-info>-->
      <!--</ng-template>-->
      <!--<ng-template ngbSlide>-->
       <!--<app-destination-info [today]="today" [destination]="destination"></app-destination-info>-->
      <!--</ng-template>-->
    <!--</ngb-carousel>-->
  </div>
  <div class="base-bar">
    <app-base-bar></app-base-bar>
  </div>

</div>

