.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

#toolbar {
  position: absolute;
  background-color:transparent;
}

.destination{
  font-family: PxGrotesk;
}

.ETA{
  font-family: PxGrotesk-light;
  font-size:small;
}
